@media screen (min-width: 400px) and (max-width: 1200px){
    header{
        width: 100%;
        right: 0;
    }
    main{
        display: flex;
        
    }
    .container{
        width: 100%;
    }
    body{
        width: 100%;
    }
}




@media (max-width: 600px){
    #btn-mobile{
        display: block;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background: #e7e7e7;
        height: 0;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
        background: #000000;
        position: absolute;
        
            
    }
    
    header{
        position: absolute;
    }
    
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid lightGray;
    }
    #menu li{
        display: flex;
        flex-direction: column;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer{
        border-top: 2px solid white;
        width: 20px;    
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: white;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    article img{
        display: none;
    }
    main{
        flex-direction: column;
        margin-top: 0px;
    }
    aside{
        width: 200px;
     
    }
    
    main h1{
        margin-top: 20px;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        
    }
    
    #redirect-agd{
        font-size: 10px;
        padding: 20px;
        align-self: center;
        text-align: center;
        width: 200px;
        
    }
   .container{
       margin-top: 40px;
   }
   .suporte{
       margin-top: 80px;
   }
   main ul li{
       margin-left: 30px;
   }
   .copyright{
       text-align: center;
   }
   #copyright{
       background-color: black;
       padding: 10px;
   }
}
