@media (max-width: 600px) {
    #btn-mobile{
        display: block;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background: #e7e7e7;
        height: 0;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        height: calc(100vh-70px;);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer{
        border-top: 2px solid;
        width: 20px;
        
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    article img{
        display: none;
    }
    
}